/* Global styles / Bootstrap Overrides */

/* Default body styles */
body {
    background-color: #f1f2eb;
    color: #4a4a48;
}

/* Main content area */
#main-content {
    background-color: #d8dad3;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    margin-top: 20px;
}

.custom-nav {
    background-color: #566246;
}

/* Sidebar */
#sidebar {
    background-color: #d8dad3;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    margin-top: 20px;
}

/* No Border Radius for Main Content and Sidebar on Mobile */
@media (max-width: 768px) {
    #main-content, #sidebar {
        border-radius: 0;
    }
}

/* Footer */
footer {
    color: #4a4a48;
    width: 100%;
}
